<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#141414">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#141414">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
